.quem-somos{
    padding: 5rem;
    text-align: center;
}
#roberta{
    text-decoration: none;
    background-color: brown;
    padding: 20px 10px;
    color: white;
    box-shadow: 5px 5px 40px gray;
}
#marcela{
    text-decoration: none;
    background-color: brown;
    padding: 20px 10px;
    color: white;
    box-shadow: 5px 5px 40px gray;
}
#andreia{
    text-decoration: none;
    background-color: brown;
    padding: 20px 10px;
    color: white;
    box-shadow: 5px 5px 40px gray;
}