
@media screen and (min-width: 0) {
    .logo{
        display: none;
        width: 90px;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .logo{
        display: block;
    }
}