.pessoas{
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
}

.pessoas .pessoa:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 0) {
    .pessoas{
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) {
    .pessoas{
        flex-direction: row;
    }
}