.banner__portfolio{
    background: url(../../img/banner_portfolio.png) no-repeat center / cover;
    height: 500px;
    width: 1349px;
}
@media screen and (min-width: 0) {
    .banner__portfolio{
        height: 1349x;
    }
}
@media screen and (min-width: 768px) {
    .banner__portfolio{
        height: 500px;
    }
}